.App {
  background-color: #432f58;
  min-height: 100vh;
  padding: 160px 10px 160px 40px;
  font-size: 24px;
  color: white;
}
.App-header {
  background-color: rgb(195, 182, 255);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  font-size: 24px;
  color: black;
}

button {
  padding: 8px;
  margin: 0 10px;
  width: 200px;
  border-radius: 8px;
  font-size: 20px;
  background-color: white;
  color: rgb(78, 21, 78);
  border: 2px solid rgb(78, 21, 78);
}

button:hover{
  background-color: rgb(255, 255, 144);
  font-weight: bolder;
}

a {
  text-decoration: none;
}