.form {
    width: 80vw;
    margin: 0 auto;
    padding: 40px 30px;
    display: flex;
    align-items: baseline;
    background-color: rgb(167, 147, 255);
    color: black;
    border-radius: 12px;
}

input {
    margin: 0 30px;
    padding: 8px;
    border-radius: 8px;
    width: 300px;
    font-size: 20px;
}